# Program to scrape most viewed videos on youtube

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [38]:
url = 'http://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver = webdriver.Chrome()
driver.get(url)

In [39]:
table = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody')
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [40]:
rows = table.find_elements(By.TAG_NAME,'tr')

In [41]:
for row in rows:
    cols = row.find_elements(By.TAG_NAME,'td')
    if len(cols)>0:
        Rank.append(cols[0].text)
        Name.append(cols[1].text)
        Artist.append(cols[2].text)
        Upload_Date.append(cols[3].text)
        Views.append(cols[4].text)

In [42]:
df = pd.DataFrame({'Rank' : Rank,'Name' : Name,'Artist' : Artist,'Upload_Date' : Upload_Date,'Views' : Views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

# program to scrape most viewd tv shows from imdb

In [43]:
url = 'https://www.imdb.com/list/ls095964455/'
driver = webdriver.Chrome()
driver.get(url)

In [44]:
Name = []
Year_Span = []
Genre = []
Run_Time = []
Ratings = []
Votes = []

In [45]:
name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name :
    Name.append(i.text)

In [46]:
year_span = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_span :
    Year_Span.append(i.text)

In [47]:
genre = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre :
    Genre.append(i.text)

In [48]:
run_time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_time :
    Run_Time.append(i.text)

In [49]:
ratings = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in ratings :
    Ratings.append(i.text)

In [50]:
votes = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes :
    Votes.append(i.text)

In [51]:
df = pd.DataFrame({'Name':Name,'Year_Span':Year_Span,'Genre':Genre,'Run_Time':Run_Time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,154,261"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,236,133"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,394"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,142"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,095"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,424"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,459"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,916"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,968"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,605"

# program to scrape state wise gdp of india from statistics.com

In [52]:
url = 'https://statisticstimes.com/'
driver = webdriver.Chrome()
driver.get(url)

In [53]:
economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy.click()

india = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
india.click()

In [55]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [56]:
table = driver.find_element(By.XPATH,'//*[@id="table_id"]/tbody')
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_18_19 = []
GDP = []

In [57]:
rows = table.find_elements(By.TAG_NAME,'tr')

In [58]:
for row in rows:
    cols = row.find_elements(By.TAG_NAME,'td')
    if len(cols)>0:
        Rank.append(cols[0].text)
        State.append(cols[1].text)
        GSDP_18_19.append(cols[3].text)
        GSDP_19_20.append(cols[2].text)
        Share_18_19.append(cols[4].text)
        GDP.append(cols[5].text)

In [59]:
df = pd.DataFrame({'Rank' : Rank,'State' : State,'GSDP(18-19)' : GSDP_18_19,'GSDP(19-20)' : GSDP_19_20,'Share(18-19)' : Share_18_19,'GDP':GDP})
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Program To Scrape The Details of Highest Selling Novals

In [60]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver = webdriver.Chrome()
driver.get(url)

In [61]:
Book_Name = []
Author_Name = []
Volumes_Sold= []
Publisher = []
Genre = []

In [62]:
table = driver.find_element(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody') 
rows = table.find_elements(By.TAG_NAME,'tr')

In [63]:
for row in rows:
    cols = row.find_elements(By.TAG_NAME,'td')
    Book_Name.append(cols[1].text)
    Author_Name.append(cols[2].text)
    Volumes_Sold.append(cols[3].text)
    Publisher.append(cols[4].text)
    Genre.append(cols[5].text)

In [64]:
df = pd.DataFrame({'Book Name':Book_Name,'Author Name':Author_Name,'Volumes Sold':Volumes_Sold,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Program to scrape the details od data science recruiters from naukri.com

In [67]:
# initialize the webdriver
driver = webdriver.Chrome()

# navigate to the recruiters page
driver.get('https://www.naukri.com/hr-recruiters-consultants')

# find the search box and enter the search query
search_box = driver.find_element(By.CLASS_NAME,'sugInp')
search_box.send_keys('Data Science')
search_box.send_keys(Keys.RETURN)

In [68]:
Name = []
Designation = []
Company = []
Skills_They_Hire_For = []
Location = []

In [69]:
name = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name :
    Name.append(i.text)

In [70]:
designation = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)

In [71]:
company = driver.find_elements(By.XPATH,'//i[@class="cmpIcn"]')
for i in company :
    Company.append(i.text)

In [72]:
skills =  driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills :
    Skills_They_Hire_For.append(i.text)

In [73]:
location = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in location :   
    Location.append(i.text)

In [74]:

df = pd.DataFrame({'Name':Name,'Designation':Designation,'Company':company,'Skill They Hire For':Skills_They_Hire_For,})
df

,Name,Designation,Company,Skill They Hire For
0,Aakash Harit,HR Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,<selenium.webdriver.remote.webelement.WebEleme...,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,<selenium.webdriver.remote.webelement.WebEleme...,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,<selenium.webdriver.remote.webelement.WebEleme...,Data Science
7,Balu Ramesh,HR Administrator,<selenium.webdriver.remote.webelement.WebEleme...,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,<selenium.webdriver.remote.webelement.WebEleme...,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,<selenium.webdriver.remote.webelement.WebEleme...,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,<selenium.webdriver.remote.webelement.WebEleme...,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,<selenium.webdriver.remote.webelement.WebEleme...,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,<selenium.webdriver.remote.webelement.WebEleme...,"Office Administration, Hr Administration, tele..."
13,Priyanka Akiri,HR Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Oracle Dba, Data Science, Data Warehousing, ET..."
14,Kapil Devang,HR Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Big Data, Hadoop, Data Analytics, Data Science"
15,Mahesh Babu Channa,HR Team Lead,<selenium.webdriver.remote.webelement.WebEleme...,"Social Media, digital media maketing, seo, smm..."
16,Vaishnavi Kudalkar,HR Executive,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Python, Data Analytics"
17,Sakshi Chhikara,Assistant Manager HR,<selenium.webdriver.remote.webelement.WebEleme...,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,<selenium.webdriver.remote.webelement.WebEleme...,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,<selenium.webdriver.remote.webelement.WebEleme...,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,<selenium.webdriver.remote.webelement.WebEleme...,Data Science
21,Rashmi Bhattacharjee,HR Head,<selenium.webdriver.remote.webelement.WebEleme...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,<selenium.webdriver.remote.webelement.WebEleme...,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,<selenium.webdriver.remote.webelement.WebEleme...,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Deeparchi Sharma,Company Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Research, Digital Marketing, Analytics, Softwa..."
27,Azahar Shaikh,Company Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Artificial Intelligence, Machine..."
28,Manas,Lead Talent acquisition,<selenium.webdriver.remote.webelement.WebEleme...,"Software Architecture, Vp Engineering, Product..."
29,kumar,Proprietor,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,Sunil Vedula,CEO,<selenium.webdriver.remote.webelement.WebEleme...,"Signal Processing, Machine Learning, Neural Ne..."
31,Rajat Kumar,Founder CEO,<selenium.webdriver.remote.webelement.WebEleme...,"Web Technologies, Project Management, Software..."
32,Dhruv Dev Dubey,Company Recruitment Head,<selenium.webdriver.remote.webelement.WebEleme...,"Server Administartion, Verilog, Vhdl, Digital ..."
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Machine Learning, Deep Learning,..."
34,Jayanth N,Project Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Data Analytics, Managed Services, Team Leading..."
35,Avodha,Business Development Associate,<selenium.webdriver.remote.webelement.WebEleme...,"Ethical Hacking, Security Operations Center, S..."
36,Priya Khare,Senior Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Artificial Intelligence, analyti..."
37,Amit Sharma,Consultant,<selenium.webdriver.remote.webelement.WebEleme...,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,senior technology instructor,<selenium.webdriver.remote.webelement.WebEleme...,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,<selenium.webdriver.remote.webelement.WebEleme...,"Relationship Management, Retail Sales, Private..."
40,Brad,"Manager, Technical Recruiting",<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Software Engineering"
41,Rutuja Pawar,Technical Recruiter,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,Erp Implementer,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Recruitment, Salary"
43,Ankit Sinha,Head Analytics,<selenium.webdriver.remote.webelement.WebEleme...,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,Chief Technical Officer,<selenium.webdriver.remote.webelement.WebEleme...,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,Sr Product Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Node.js, Angularjs"
46,Ashwini,Director Global Delivery,<selenium.webdriver.remote.webelement.WebEleme...,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,Co Founder,<selenium.webdriver.remote.webelement.WebEleme...,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,HR Manager,<selenium.webdriver.remote.webelement.WebEleme...,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
49,ROHIT Kumar,Architect,<selenium.webdriver.remote.webelement.WebEleme...,"Software Development, Core Java, Unit Testing,..."

# Program to scrape deatails of datasets from uci

In [2]:
url = 'https://archive.ics.uci.edu/'
driver = webdriver.Chrome()
driver.get(url)

In [3]:
all_data_sets = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
all_data_sets.click()

In [4]:
table = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody') 
rows = table.find_elements(By.TAG_NAME,'tr')

In [5]:
dataset_name = []
data_type = []
task = []
attribute_type = []
no_of_instances = []
no_of_attributes = []
year = []

In [7]:
for row in rows[1:]:
    cols = row.find_elements(By.TAG_NAME,'td')
    dataset_name.append(cols[1].text)
    #data_type.append(cols[2].text)

In [8]:
Type = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]/p')
for i in Type[1:]:
    if i.text is None:
        data_type.append('--')
    else :
        data_type.append(i.text)

In [9]:
tas = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]/p')
for i in tas[1:]:
    if i.text is None:
        task.append('--')
    else:
        task.append(i.text)

In [10]:
attribute = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]/p')
for i in attribute[1:]:
    if i.text is None :
        attribute.append('--')
    else:
        attribute_type.append(i.text)

In [11]:
instances = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]/p')
for i in instances[1:]:
    if i.text is None:
        no_of_instances.append('--')
    else:
        no_of_instances.append(i.text)

In [12]:
attri = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]/p')
for i in attri[1:]:
    if i.text is None :
        no_of_attributes.append('--')
    else:
        no_of_attributes.append(i.text)

In [13]:
y = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]/p')
for i in y[1:]:
    if i.text is None:
        year.append('--')
    else:
        year.append(i.text)

In [14]:
df = pd.DataFrame({'Dataset Name':dataset_name,'Data Type':data_type,'Task':task,'Attribute Type':attribute_type,'No Of Instances':no_of_instances,'No Of Attributes':no_of_attributes,'Year':year})
df

ValueError: All arrays must be of the same length

In [16]:
len(dataset)

1246